.welcome-section {
  background-image: linear-gradient(rgba(249, 228, 148, 0.5), rgba(249, 228, 148, 0.5)),
    url(photos/headerBcg.jpeg);
  background-position: 50%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.welcome-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  text-align: center;
  /* transform: translateY(-4.75rem); */
/*Tis wll fix the problem of hero possiotion  but it breaks the mini card and sub menu functionality  */

}

.border-wrapper {
  display: inline-block;
  border: .25rem solid black;
  transform: translateX(-1.25rem);
  padding: 0;
}

.border-wrapper img {
  display: block;
}

.welcome-section-wrapper .btn {
  width: 8.375rem;
  height: 3.375rem;
}